<form ng-submit="info.add()" class="info-form">
    <div class="form-group">
        <label class="control-label">姓名</label>
        <input ng-model="info.name" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">学号</label>
        <input ng-model="info.number" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">年龄</label>
        <input ng-model="info.age" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">成绩</label>
        <input ng-model="info.score" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">增加</button>
    </div>
</form>

<form class="form-inline">
    <div class="form-group">
        <label>过滤内容</label>
        <select class="form-control" ng-model="info.filterItem">
            <option value="name" selected>姓名</option>
            <option value="number">学号</option>
            <option value="score">成绩</option>
            <option value="age">年龄</option>
        </select>
    </div>
    <div class="form-group">
        <label>过滤条件</label>
        <input class="form-control" ng-model="info.filterName">
    </div>
</form>

<input ng-model="condition">
<p>{{condition}}</p>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>年龄</th>
        <th>成绩</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="item in info.items | filter : {number: condition}">
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td>{{item.age}}</td>
        <td>{{item.score}}</td>
        <td><a href="" ng-click="info.remove(item)">删除</a></td>
        <td><a href="" ng-click="info.edit(item)">编辑</a></td>
    </tr>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form ng-submit="info.save()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">信息编辑</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">姓名</label>
                            <input ng-model="info.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">学号</label>
                            <input ng-model="info.number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">年龄</label>
                            <input ng-model="info.age" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">成绩</label>
                            <input ng-model="info.score" class="form-control">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="info.cancel()">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="test">
    <ul class="nav">
        <li><a href=""></a><a href=""></a><a href=""></a><a href=""></a><a href=""></a></li>
    </ul>
</div>
